.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15rem;
  color: #000000;
  padding: 5px 50px;
  position: relative;
  position: fixed; 
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 2rem;
  /* height: 2000px; */
  padding: 20px;
}

.links a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

.mobileMenuIcon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.dropdownMenu {
  display: none;
  flex-direction: column;
  background: #333;
  position: absolute;
  top: 60px;
  right: 24px;
  left: 24px;
  z-index: 100;
  border-radius: 8px;
  padding: 10px 0;
}

.dropdownMenu a {
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  transition: background 0.2s;
}

.dropdownMenu a:hover {
  background: #444;
}
.toggleBtn {
  background: none;
  border: none;
  color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

@media (max-width: 768px) {
  /* .logo {
    display: none;
  } */
  .navLists {
    display: none;
  }
  .links {
    display: none;
  }
  .mobileMenuIcon {
    display: block;
  }
  .dropdownMenu {
    display: flex;
  }
}
